/*高度撑满需要设置body height:100%*/
.create-sample {
  input, button, select, textarea {
    outline: none;
    border: none;
  }

  textarea {
    resize: none
  }
  .ul {
    list-style: none;
    width: 500px;
  }
  .li {
    width: 100%;
    margin: 10px 0;
  }
  .label {
    line-height: 20px;
    color: #333;
    font-size: 12px;
  }
  .create-name,.create-describe {
    height: 20px;
    border: 1px solid #dadada;
    border-radius: 3px;
  }
  .span {
    cursor: pointer;
    font-size: 12px;
  }
  .choose {
    width: 80px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 3px;
    background-color: #44b5ed;
    color: #fff;
    position: relative;
    .create-file {
      height: 35px;
      width: 80px;
      opacity: 0;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .a{
    width: 100px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
  }
  .submit {
    background-color: #f4381b;
  }
  .back {
    background-color: #5dbcd8;
  }
}


