.module-progress-bar {
    .bar-container {
        display: inline-block;
        width: 100%;

        .item {
            margin-bottom: 40px;

            .bar-background {
                background-color: #eee;
                width: 96%;
                height: 20px;
                border-radius: 20px;
                position: relative;

                .bar-value {
                    height: 20px;
                    border-radius: 20px;
                    position: absolute;
                    left: 0;
                }

                .warning-mark {
                    width: 2px;
                    height: 20px;
                    position: absolute;
                    top: 0;
                    margin-left: -1px;
                    background-color: #EABDB9;
                }

                .marking {
                    position: absolute;
                    top: -32px;
                    margin-left: -16px;

                    .marking-container {
                        position: relative;

                        .marking-value {
                            position: absolute;
                            top: 1px;
                            left: 9px;
                            width: 14px;
                            text-align: center;

                            .value {
                                font-size: 12px;
                            }
                        }
                    }
                }

                .status {
                    font-size: 12px;
                    position: absolute;
                    right: -35px;
                }
            }

            .label {
                width: 100%;
                font-size: 12px;
                padding-top: 5px;

                .proportion {
                    float: right;
                }
            }
        }

        .item:first-child {
            margin-top: 20px;
        }

        .item:last-child {
            margin-bottom: 20px;
        }
    }
}